*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0px;
  background: #32393f;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
button.addItem{
  position: absolute;
  /* bottom: 0px;  */
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 75px;
  height: 75px;
  font-size: 20px;
  color: rgba(255,255,255,.9);
  background: rgba(0,0,0,.3);
  font-family: 'Raleway';
  padding: 0 20px;
  border: 1px solid rgba(255,255,255,.4);
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  cursor: pointer;
}

.example-enter {
  /* opacity: 0.01; */
  animation: toastAnimateIn 1s forwards;
}

.example-enter.example-enter-active {
  /* opacity: 1;
  transition: opacity 500ms ease-in; */
  animation: toastAnimateIn 1s forwards;
}

.example-leave {
  /* opacity: 1; */
  /* animation: toastAnimateOut 1s forwards; */
}

.example-leave.example-leave-active {
  /* opacity: 0.01;
  transition: opacity 300ms ease-in; */
  animation: toastAnimateOut 1s forwards;
}


